body .with-nav {
    margin-bottom: 70px;
}
.container {
    margin: 0px 15px;
}
.container-settings {
    width: calc(100% - 30px);
    position: absolute;
    background: white;
    z-index: 99;
    padding: 0px 15px;
    left: 0;
    right: 0;
    height: calc(100vh - 70px);
}
.container-water {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    right: 0;
}

.main-nav {
    position: fixed;
    z-index: 99;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: #f5faff;
}
.main-nav ul {
    display: flex;
    margin: 12px 0px;
    padding: 0;
    justify-content: space-around;
}
.main-nav ul li {
    list-style: none;
}
.main-nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
}
.main-nav ul li a.active {
    opacity: 1;
}
.main-nav ul li a img {
    max-width: 30px;
}
.main-nav ul li a span {
    display: none;
}